<h2>Sport Pool Details and Reviews</h2>

{{!-- <h1>{{name}}</h1>

<hr /> --}}

<p>Name:</p>{{onePool.name}}

<h4>Address:</h4>
<p>{{onePool.location.address}}</p>
    <h4>Postal Code</h4>
    <p>{{onePool.location.postalCode}}</p>
    <h4>City or Town:</h4>
   <p>{{onePool.location.city}}</p> 

<h4>Pool Size:</h4>
<p>{{onePool.poolSize}}</p>

<h4>Description:</h4>
<p>{{onePool.description}}</p>

<h4>Rating:</h4>
<p>{{onePool.rating}}</p>

<hr />

<a href="/pools">Back Sports Pools List</a>