<h2>Edit the pool: {{onePool.name}}</h2>

<form action="/pools/{{onePool._id}}/edit" method="post">
    <label> Name:
        <input type="text" name="name" value="{{onePool.name}}" />
    </label>

    <label> Address:
            <input type="text" name="location.address" />
            <input type="text" name="location.postalCode" />
            <input type="text" name="location.city" />



    <label> Description:
        <textarea name="description" cols="30" rows="4">{{onePool.description}}</textarea>
    </label>

    <label> Rate:
        <input type="number" name="rating" min="1" max="10" value="{{onePool.rating}}" />
    </label>

    <button>Save changes</button>
<br>
<br>
    <h2>Meet you at the pool!</h2>
</form>